tensorflow
scikit-learn
numpy
pandas
langchain
langchain-community
langchain-core
langchain-openai
langgraph
python-dotenv
opencv-python
langchain-pinecone
pinecone
pypdf
langchain-huggingface
rank_bm25
sentence-transformers
langchain-tavily